.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form-wrapper{
  background: rgb(62, 165, 48);
  height: 80vh;
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  color:white;
  box-shadow: 5px 5px 10px 8px white;
  
}
h1{
  font-size: 35px;
  
}
input{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 30px;
  width: auto;
  border-radius: 8px;
  outline: none;
  border: none;
}
label{
  display: flex;
  font-size: 18px;
}
button{
  height: 30px;
  width: 100px;;
  margin-top: 28px;
  color: white;
  background-color: black;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
button:hover{
  background-color: aliceblue;
  color: #282c34;

}

.Table{
  background: rgb(62, 165, 48);
  height: auto;
  width: 50%;
  border-radius: 9px;
  color:white;
  box-shadow: 5px 5px 10px 8px white;
  margin-top: 40px;
}
.user-data{
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  
}
@media screen and (max-width:600px) {
  .form-wrapper{
    width: 90vw;
  }
  botton {
    margin-top: auto;
  }
  input{
    margin-bottom: auto;
  }
  
}